.signUpContainer{
    display: flex;
    flex-direction: column;
    width: 380px;

    h2{
        margin: 12px 0;
    }
}

.buttonsContainer{
    display: flex;
    justify-content: space-between;
    
}