.categoryContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 50px;
}

.categoryTitle{
    font-size: 50px;
    margin-bottom: 75px;
    text-align: center;
    
}
    